body{
    background-color: rgb(240, 240, 240);
}

.search-none-img{
    max-width: 100vw;
}


.search-header{
    position: sticky;
    top: 0;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.26rem;
    background-color: white;
    z-index: 3;
}
    .search-header .search-header-back-button{
        width: 0.5rem;
        height: 0.5rem;
    }
        .search-header-back-img{
            max-width: 100%;
            transform: rotate(180deg);
        }
    .hidden{
        visibility: hidden;
    }
