<div class="home-title-wrapper">
    <div class="home-title-wrapper-logoPart">
        <div class="home-title-logo-wrapper">
            <img class="home-title-logo" src="/png/logo">
        </div>
        <div class="home-title-title-wrapper">
            <span class="home-title-title">所想好物，这里都有</span>
            <img class="home-title-right" src="/png/right">
        </div>
    </div>
    
    <!-- <button class="home-title-signin-wrapper">
        <img class="home-title-signin" src="/png/signin" alt="">
        <span class="home-title-signin-word">签到</span>
    </button> -->
</div>