<main class="indent-main">
    <!-- <div class="indent-main-indent-option">
        <div class="indent-main-indent-wrapper">
                <div class="indent-main-indent-row-1">
                    <div>
                        <div class="indent-main-indent-img-wrapper">
                            <img src="/png/none" class="indent-main-indent-img">
                            
                        </div>
                    </div>  
                    <div class="indent-main-indent-msg-wrapper">
                        <div class="indent-main-indent-title-wrapper">
                            <span class="indent-main-indent-title">
                                这是一款坚韧不拔的纪录片
                            </span>
                        </div>
                        
                        <div class="indent-main-indent-params-wrapper">
                            <div class="indent-main-indent-type">
                                黑色
                            </div>
                            <div class="indent-main-indent-type">
                                s
                            </div>
                            <div class="indent-main-indent-number">
                                数量:00
                            </div>
                        </div>
                        <div class="indent-main-indent-tags-wrapper">
                            <div class="indent-main-indent-tag">
                                已付款
                            </div>
                        </div>  
                    </div>
                    
                    <div class="indent-main-indent-old-price-wrapper">
                        <div></div>
                    </div>
                </div>
        </div>
        <div class="indent-main-indent-price-wrapper">
                <div class="indent-main-indent-price-msg">
                    <span class="indent-main-indent-price-word">
                        付款：
                    </span>
                    <span class="indent-main-indent-price">
                        ¥ 0000.00
                    </span>
                    <div class="indent-main-time-tag">
                        2023年12月12日 00:00
                    </div>
                </div>
                <div class="indent-main-indent-action-button">
                    <div class="indent-main-indent-cancel-button">
                        退款
                    </div>
                    <div class="indent-main-indent-address-button">
                        位置
                    </div>
                </div>
        </div>
        <div class="indent-main-indent-address-wrapper">
            <div class="indent-main-indent-address-option now-address">
                <div class="the-img-wrapper">
                    <div class="img-wrapper">
                        <img src="/png/sending">
                    </div>
                    <div class="line-wrapper">
                        <div class="line"></div>
                    </div>
                    <div class="img-wrapper">
                        <img src="/png/needget">
                    </div>
                </div>
                
                <div class="the-msg-wrapper">
                    <div class="msg-wrapper">
                        <div class="title">当前位置</div>
                        <div class="msg">
                            <span class="now_place">
                                    某某某某某大道
                            </span>
                        </div>
                    </div>
                    <div class="msg-wrapper">
                        <div class="title">正在前往</div>
                        <div class="msg">
                            <span class="now_place">
                                    某某某某某大道
                            </span>
                        </div>
                    </div>
                    <div class="msg-wrapper">
                        <div class="title">预计时间</div>
                        <div class="msg">
                            <span class="now_place">
                                    预计3天后达到收货地址
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</main>