<div class="the-content-wrapper">
    <main class="indent-main">
            <div class="indent-main-tops">
                <div class="indent-main-top-chose">
                    <img class="indent-main-top-img" src="/png/chose">
                </div>
                <span class="indent-main-option-text">
                    全选
                </span>
            </div>
            <div class="indent-main-wrapper">
            </div>
    </main>

    <footer class="indent-footer">
        <div class="indent-footer-price-wrapper">
            <span class="indent-footer-msg">总计：</span>
            <span class="indent-footer-unit">¥</span>
            <span class="indent-footer-price">0.00</span>
        </div>
        <div class="indent-footer-action">
            <div class="indent-delete-button">
                <img class="indent-delete-img" src="/png/delete" alt="">
            </div>
            <div class="indent-submit-button">
                结算
            </div>
        </div>
    </footer>

    <div class="indent-params">
        <div class="item-into-car">
            <div class="item-into-car-pad">
                <header class="item-into-car-pad-header">
                    <img class="header-img">
                    <div class="header-text">
                        <div class="header-title">
                            <img class="header-logo" src="/png/logo">
                            更改选择的款式
                        </div>
                        <div class="header-msg">
                            已选 黑色 M
                        </div>
                    </div>
                    <div class="close-button">
                        <img class="close-button-img" src="/png/close">
                    </div>
                </header>
                
                <main class="item-into-car-pad-main">

                    <div class="main-option-wrapper">
                        <div class="main-option-title">
                            款式
                        </div>
                        <div class="main-option-list-wrapper">
                            <div class="main-option-list">
                                <div class="main-option">
                                    <img class="main-option-img" src=""">
                                </div>
                                <div class="main-option">
                                    <img class="main-option-img" src=""">
                                </div>
                                <div class="main-option">
                                    <img class="main-option-img" src=""">
                                </div>
                                <div class="main-option">
                                    <img class="main-option-img" src=""">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="main-option-wrapper">
                        <div class="main-option-title">
                            尺码
                        </div>
                        <div class="main-option-list-wrapper">
                            <div class="main-option-list">
                                <div class="main-option">
                                    <div class="params">
                                        A
                                    </div>
                                </div>
                                <div class="main-option">
                                    <div class="params">
                                        AA
                                    </div>
                                </div>
                                <div class="main-option">
                                    <div class="params">
                                        AAA
                                    </div>
                                </div>
                                <div class="main-option">
                                    <div class="params">
                                        AAA
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    
                </main>
                
                <footer class="item-into-car-pad-footer">
                    <div class="submit-button">
                        确定
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>