<main class="indent-main">
    <div class="indent-status-3-option">
        <div class="indent-status-3-wrapper">
                <div class="indent-status-3-row-1">
                    <div>
                        <div class="indent-status-3-img-wrapper">
                            <img src="/png/none" class="indent-status-3-img">
                            
                        </div>
                    </div>  
                    <div class="indent-status-3-msg-wrapper">
                        <div class="indent-status-3-title-wrapper">
                            <span class="indent-status-3-title">
                                这是一款坚韧不拔的纪录片
                            </span>
                        </div>
                        
                        <div class="indent-status-3-params-wrapper">
                            <div class="indent-status-3-type">
                                黑色
                            </div>
                            <div class="indent-status-3-type">
                                s
                            </div>
                            <div class="indent-status-3-number">
                                数量:00
                            </div>
                        </div>
                        <div class="indent-status-3-tags-wrapper">
                            <div class="indent-status-3-tag">
                                已付款
                            </div>
                        </div>  
                    </div>
                    
                    <div class="indent-status-3-old-price-wrapper">
                        <div></div>
                    </div>
                </div>
        </div>
        <div class="indent-status-3-price-wrapper">
                <div class="indent-status-3-price-msg">
                    <span class="indent-status-3-price-word">
                        付款：
                    </span>
                    <span class="indent-status-3-price">
                        ¥ 0000.00
                    </span>
                    <div class="indent-main-time-tag">
                        2023年12月12日 00:00
                    </div>
                </div>
                <div class="indent-status-3-action-button">
                    <div class="indent-status-3-cancel-button">
                        退款
                    </div>
                    <div class="indent-status-3-address-button">
                        位置
                    </div>
                </div>
        </div>
        <div class="indent-status-3-address-wrapper">
            <div class="indent-status-3-address-option now-address">
                <div class="the-img-wrapper">
                    <div class="img-wrapper">
                        <img src="/png/sending">
                    </div>
                    <div class="line-wrapper">
                        <div class="line"></div>
                    </div>
                    <div class="img-wrapper">
                        <img src="/png/needget">
                    </div>
                </div>
                
                <div class="the-msg-wrapper">
                    <div class="msg-wrapper">
                        <div class="title">当前位置</div>
                        <div class="msg">
                            <span class="now_place">
                                    某某某某某大道
                            </span>
                        </div>
                    </div>
                    <div class="msg-wrapper">
                        <div class="title">正在前往</div>
                        <div class="msg">
                            <span class="now_place">
                                    某某某某某大道
                            </span>
                        </div>
                    </div>
                    <div class="msg-wrapper">
                        <div class="title">预计时间</div>
                        <div class="msg">
                            <span class="now_place">
                                    预计3天后达到收货地址
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="indent-status-2-option">
        <div class="indent-status-2-wrapper">
            <div class="indent-status-2-row-1">
                <div class="indent-status-2-img-wrapper">
                    <img src="/png/none" class="indent-status-2-img">
                </div>
                <div class="indent-status-2-msg-wrapper">
                    <div class="indent-status-2-title-wrapper">
                        <span class="indent-status-2-title">
                            这是一个坚韧不拔的纪录片
                        </span>
                    </div>
                    
                    <div class="indent-status-2-params-wrapper">
                        <div class="indent-status-2-type">
                            黑色
                        </div>
                        <div class="indent-status-2-type">
                            s
                        </div>
                        <div class="indent-status-2-number">
                            数量: 99
                        </div>
                    </div>
                    <div class="indent-status-2-tags-wrapper">
                        <div class="indent-status-2-tag">
                            待付款
                        </div>
                    </div>  
                </div>
                
                <div class="indent-status-2-old-price-wrapper">
                    <div></div>
                    <div class="indent-status-2-old-price">¥ 9999.99</div>
                </div>
            </div>
        </div>
        <div class="indent-status-2-discount-price-wrapper">
            <span class="indent-status-2-discount-price-word">
                优惠：
            </span>
            <span class="indent-status-2-discount-price">
                - ¥ 9999.00
            </span>
        </div>
        <div class="indent-status-2-price-wrapper">
            
            <div>
                <span class="indent-status-2-price-word">
                    小计：
                </span>
                <span class="indent-status-2-price">
                    ¥ 9999.99
                </span>
            </div>
            <div class="indent-status-2-action-button">
                <div class="indent-status-2-cancel-button">
                    取消
                </div>
                <div class="indent-status-2-buy-button">
                    付款
                </div>
            </div>
        </div>
    </div>
</main>